body {
    background-color: #fff;
    color: var(--main-color);
    font-family: Roboto, sans-serif;
}

.header{
background-color: #fff;
position: absolute;
width: 1600px;
height: 80px;
}

.logo{
width: 145px;
height: 31px;
}

.nav{ 
    display: flex; 

} 

.navigation > li { 
    display: inline; 
} 

.navigation > li :hover{ 
    color: blue; 
} 

.contacts > li{ 
    
display: inline;
 }

 .section{
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
 }

 .main-title{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    }

    .button-service{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;

    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.title-uvaga
{
width: 270px;
height: 16px;
left: 215px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.text-uvaga
{
width: 270px;
height: 75px;
left: 215px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.title-punct{
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;   
}

.text-punct{
width: 270px;
height: 75px;
left: 215px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.title-plan{
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.text-plan{
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-teh{
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.text-teh{
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-zanyattya{
width: 376px;
height: 42px;
left: 612px;
top: 969px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}